<nav>
  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
    <a
      routerLinkActive="active"
      [routerLink]="'/viewprofile/primary'"
      class="nav-item nav-link "
      id="nav-daily-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-daily"
      aria-selected="false"
      >Primary
    </a>
    <a
      routerLinkActive="active"
      [routerLink]="'/viewprofile/skills'"
      class="nav-item nav-link"
      id="nav-profile-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >Skills</a
    >
    <a
      routerLinkActive="active"
      [routerLink]="'/viewprofile/workexp'"
      class="nav-item nav-link"
      id="nav-profile-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >Work Experince</a
    >
    <a
      routerLinkActive="active"
      [routerLink]="'/viewprofile/projectallocation'"
      class="nav-item nav-link"
      id="nav-profile-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >Project Allocation</a
    >
  </div>
</nav>
