<nav>
  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
    <a
      routerLinkActive="active"
      [routerLink]="'/manageractivites/createproject'"
      class="nav-item nav-link "
      id="nav-daily-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-daily"
      aria-selected="false"
      >Create Project
    </a>
    <a
      routerLinkActive="active"
      [routerLink]="'/manageractivites/allocatdeallocate'"
      class="nav-item nav-link"
      id="nav-profile-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >Allocate/Deallocate Project</a
    >
    <a
      routerLinkActive="active"
      [routerLink]="'/manageractivites/approvetimesheet'"
      class="nav-item nav-link"
      id="nav-profile-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >Approve Timesheet</a
    >
    <a
      routerLinkActive="active"
      [routerLink]="'/manageractivites/approveleave'"
      class="nav-item nav-link"
      id="nav-profile-tab"
      data-toggle="tab"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >Approve Leave</a
    >
  </div>
</nav>
