<app-header></app-header>
<div style="color: #fff;background:	#3b444b;">
  <div class="login-form">
    <form method="post" [formGroup]="resetpasswordform" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          formControlName="oldpassword"
          [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }"
          style="font-size: 11px"
          type="text"
          class="form-control"
          name="oldpassword"
          placeholder="Old Password"
          required="required"
        />
        <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
          <div
            style="font-size: 10px; color: red;font-family: Verdana, Geneva, Tahoma, sans-serif"
            *ngIf="f.oldpassword.errors.required"
          >
            Old Password is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          formControlName="newpassword"
          [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }"
          style="font-size: 11px"
          class="form-control"
          name="newpassword"
          placeholder="New Password"
          required="required"
        />
        <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
          <div
            style="font-size: 10px; color: red;font-family: Verdana, Geneva, Tahoma, sans-serif"
            *ngIf="f.newpassword.errors.required"
          >
            New Password is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          formControlName="confirmpassword"
          [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
          style="font-size: 11px"
          type="password"
          class="form-control"
          name="password"
          placeholder="Confirm New Password"
          required="required"
        />
        <div
          *ngIf="submitted && f.confirmpassword.errors"
          class="invalid-feedback"
        >
          <div
            style="font-size: 10px; color: red;font-family: Verdana, Geneva, Tahoma, sans-serif"
            *ngIf="f.confirmpassword.errors.required"
          >
            Confirm Password is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-lg btn-block"
          style="color: #fff;background:#0073b1;font-size: 12px"
        >
          Update
        </button>
      </div>
    </form>
  </div>
  <ngx-spinner
    [bdColor]="spinnerConfig.bdColor"
    [size]="spinnerConfig.size"
    [color]="spinnerConfig.color"
  >
    <p
      style="font-size: 12px; color: white;font-family: Verdana, Geneva, Tahoma, sans-serif"
    >
      Loading...
    </p>
  </ngx-spinner>
</div>
<app-footer></app-footer>
