<nav >
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a routerLinkActive="active"  [routerLink]="'/reports/dailyreport'" class="nav-item nav-link " id="nav-daily-tab" data-toggle="tab"  role="tab" aria-controls="nav-daily" aria-selected="false">Daily Consumption</a>
        <a routerLinkActive="active" [routerLink]="'/reports/monthlyreport'" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Monthly Consumption</a>
        <a routerLinkActive="active" [routerLink]="'/reports/yearlyreport'" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Annual Consumption</a>
    </div>
</nav>